<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chat</title>
   
        <!--Css File's location in public folder-->
        <link rel="stylesheet" type="text/css" href="/style.css"> 
        <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">

    </head>

    <body>

            <div class="header">

                    <a href="#default" class="logo">Our Communicator</a>
                    <div class="header-right">
                      <a href="/">Home</a>
                      <a class="active" href="/contactWithoutLogin">Contact</a>
                      <a href="/signup">Register</a>
                      <a href="/login">Login</a>
                    </div>
            </div>

            <br><br><br><br><br><br>
            <div><span><h2>Address </h2></span><h3>Flat 1104, Tower 7, Paras Tierea apartments, near Advant Navis Tower,<br>Sector 137, Noida (UP), PIN 201305.</h3></div>
            <br><br><br><br>OR Mail Us at<br><br><br>prakash26sep@gmail.com
        
            </div>


       

       <div class="footer" style="position: fixed">
            <p>Copyrights reserved</p>
          </div>
            
    </body>

</html>

