<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
   
        <!--Css File's location in public folder-->
        <link rel="stylesheet" type="text/css" href="/style.css"> 
        <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">

    </head>

    <body>

            <div class="header">

                    <a href="#default" class="logo">Our Communicator</a>
                    <div class="header-right">
                      <a href="/home">Main</a>
                      <a  href="/chat">Chat</a>
                      <a href="/myPosts">My Posts</a>
                      <a class="active" href="/contact">Contact</a>
                      <a id="logout" href="/logout">Logout</a>
                    </div>
            </div>
            <br><br>

            <%if(email!=null){%>
            

            <div><span><h2>Address </h2></span><h3>Flat 1104, Tower 7, Paras Tierea apartments, near Advant Navis Tower,<br>Sector 137, Noida (UP), PIN 201305.</h3></div>

            OR<hr/>

            <h1>Write your query here and We'll get back to you Soon</h1>

            <div class="container" > 
                <form action="/addPost" method="post">    
                    <br> <input style="width:70%; height: 80% ;" placeholder="Write your Query here" id="postStyling" type="text" name="addPost" id="addPost" />
                    <div class="row">
                    <br><br><input  style="width:300px ; height: 60px ;" type="submit" name="submitPost" id="submitPost" />
                </form>

                </div>
        
            </div>


            <%}else{%>
                <div><script>window.document.location = "http://our-communicator.herokuapp.com/login";</script>
                </div>
                <%}%>

                <br/><br/><br/>

       <div class="footer" style="position: fixed">
            <p>Copyrights reserved</p>
          </div>
            
    </body>

</html>

